body {
	margin: 0px;
	background-color: #b3daff;
	color: #3a4149;
}

h4 {
	margin: 5px 0px;
}

hr {
	margin: 3px;
	border-top: 1px solid #555;
}

.col-md-2, .col-sm-10 {
	padding: 0px;
}

.container, .container-fluid {
	background: #e6ffff;
	margin-top: 10px;
	border-radius: 50px;
}

.navbar-custom {
	position: -webkit-sticky;
	position: sticky;
	top:0;
	z-index: 1;
	height: 50px;
	margin-bottom: 0px;
	padding: 0px;
	padding-bottom: 10px;
	background: #b3daff;
}

.navbar-custom .container-fluid {
	border-radius: 0px;
	background: #343a40;
}

.nav-link {
	color: #fff;
}

.nav-item:hover {
	background: #fff;
}

.ava {
	height: 30px;
	width: 30px;
	margin: 5px;
}

.sidebar {
	
}

.sidebar-custom {
	position: -webkit-sticky;
	position: sticky;
	top:60px;
}

.list-group li {
	list-style: none;
}

.list-group li a {
	padding-left: 15px;
	padding-right: 15px;
	
}

.list-group li input {
	border-left: none;
	border-right: none;
}
	
.list-group-item {
	border: none;
	padding-left: 0px;
	padding-right: 0px;

}

.collapse .list-group-item{
	padding-left: 40px;
}

.panel h2 {
	padding-left: 10px;
}

.panel h3 {
	padding: 15px 20px 0px 20px;
}

.content {
	padding: 10px 10px 0px 10px;
	background-color: #b3daff;
}

.site-footer {
	background-color: #b3daff;
}
.site-footer h5{
	text-align: center;
}